.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin: 5px;
    height: 30%;
    width: 66%;
}

.payment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

