*.pyc
__pycache__/
__pycache__
migrations
migrations/
ACM_General/static/
*.sock
db.*
settings_local.py
.vagrant/
.*
*.log*
docs/_build/
docs/apps/
fliers/
ACM_General/home/static/home/css
*.aux
*.pdf
*.out
*.toc
