{% extends 'core/base.html' %}

{% load static %}

{% block html_tag %}<html class="no-js" lang="en">{% endblock %}

{% block head_title %}
    <title> ACM | General </title>
{% endblock %}

{% block head_stylesheets %}
     <link rel="stylesheet" href="{% static "/home/css/normalize.css" %}" />
     <link rel="stylesheet" href="{% static "/home/css/main.css" %}" />
{% endblock %}

{% block head_javascript %}
    <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8" src="{% static "/home/js/jquery.leanModal.min.js" %}"></script>-->
    <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>-->
    <!--<script src="{% static "/home/js/plugins.js" %}"></script>-->
    <!--<script src="{% static "/home/js/main.js" %}"></script>-->
    <!--<script src="{% static "/home/js/vendor/modernizr-2.8.3.min.js" %}"></script>-->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--<script>-->
        <!--(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=-->
        <!--function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;-->
        <!--e=o.createElement(i);r=o.getElementsByTagName(i)[0];-->
        <!--e.src='https://www.google-analytics.com/analytics.js';-->
        <!--r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));-->
        <!--ga('create','UA-XXXXX-X','auto');ga('send','pageview');-->
    <!--</script>-->

{% endblock %}

{% block head_fonts %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" />-->
{% endblock %}

{% block body_header %}
        <header>
            <div id="menu-wrapper">
                <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
                <div class="menu">
                    <label class="menu-toggle" for="menu"><span>Toggle</span></label>
                    <ul>
                        <li>
                            <a href="{% url "home:index" %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url "home:sponsors" %}">Sponsors</a>
                        </li>
                        <li>
                            <a href="{% url "home:calendar" %}">Calendar</a>
                        </li>
                        <li>
                            <a href="#" class="disabled">Media</a>
                        </li>
                        <li>
                            <a href="#" class="disabled">Officers</a>
                        </li>
                        <li>
                            <a href="{% url "thirdparty_auth:login" "oauth2" "google" %}">Login</a>
                        </li>
                    </ul>
                </div>
            </div><!-- #wrapper -->

            <div class="header-background">
                <div class="content-wrapper">
                    <a href="{% url "home:index" %}" class="acm-logo-button">
                    <img src="{% static "/home/img/core/acm.png" %}">
                    <h2 class="acm-text">Association for<br>Computing Machinery</h2>
                    </a>
                    <h2 class="acm-text"></h2>

                    <div class="welcome-section">
                        <h2>Welcome.</h2>
                        <h1>We are Under Construction.</h1>
                        <!-- <a href="#">Read About Us</a> -->
                    </div>
                </div>
                <nav>
                    <a href="{% url "home:index" %}" class="home-nav nav-button">
                      <img src="{% static "home/img/core/home-icon.png" %}"/>
                      <h3>HOME</h3>
                    </a>
                    <a href="{% url "home:sponsors" %}" class="sponsors-nav nav-button">
                      <img src="{% static "home/img/core/sponsors-icon.png"%}"/>
                      <h3>SPONSORS</h3>
                    </a>
                    <a href="{% url "home:calendar" %}" class="calendar-nav nav-button">
                      <img src="{% static "home/img/core/calendar-icon.png"%}"/>
                      <h3>CALENDAR</h3>
                    </a>
                    <a href="#" class="media-nav nav-button disabled">
                        <img src="{% static "home/img/core/media-icon.png"%}"/>
                        <h3>MEDIA</h3>
                    </a>
                    <a href="#" class="officers-nav nav-button disabled">
                        <img src="{% static "home/img/core/officers-icon.png" %}"/>
                        <h3>OFFICERS</h3>
                    </a>
                    <a href="{% url "thirdparty_auth:login" "oauth2" "google" %}" class="login-nav nav-button">
                      <img src="{% static "home/img/core/login-icon.png"%}"/>
                      <h3>LOGIN</h3>
                    </a>

                </nav>
            </div>
        </header>
{% endblock %}

{% block body_footer %}
        <footer>
            <img src="{% static "home/img/core/footerimgtrans.png"%}"/>
            <div class="footer-nav">
                <a href="{% url "home:index" %}">Home</a>
                <a href="{% url "home:sponsors" %}">Sponsors</a>
                <a href="{% url "home:calendar" %}">Calendar</a>
                <a href="#">Media</a>
                <a href="#">Officers</a>
            </div>
            <h5>@ 2016 Missouri S&T SIG.com. All rights reserved.</h5>
        </footer>
{% endblock %}
