{% extends 'core/wireframe.html' %}
{% load static %}

{% block head_title %}
  <title> ACM </title>
{% endblock %}

{% block head_base_stylesheets %}
  <link rel="stylesheet" href="{% static "/home/css/normalize.css" %}"/>
  <link rel="stylesheet"
        href="{% static "/home/css/main.css" %}"/>
{% endblock %}
{% block head_javascript %}
{# Code that follows is for IE browsers, it will just show them that they should get a real browser #}
  <script>
    var $buoop = {
      vs: {i: 13, f: 25, o: 15, s: 6, c: 30},
      unsupported: false,
      mobile: false,
      api: 4
    };

    function $buo_f() {
      var e = document.createElement("script");
      e.src = "//browser-update.org/update.min.js";
      document.body.appendChild(e);
    };
    try {
      document.addEventListener("DOMContentLoaded", $buo_f, false)
    }
    catch (e) {
      window.attachEvent("onload", $buo_f)
    }
  </script>
{% endblock %}
{% block head_fonts %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
        rel="stylesheet">
{% endblock %}

{% block body_header %}
  <header>
    <div class="constraint-wrapper">
      <div class="header-acm-seal-wrapper">
        <div class="header-acm-seal">
          <img src="{% static "/home/img/core/acm.png" %}">
          <h3>Association for<br>Computing Machinery</h3>
        </div>
      </div>

      <div class="header-welcome-wrapper">
        <h1 class="header-welcome">We are Missouri S&T - ACM</h1>
      </div>
    </div>
  </header>
{% endblock %}
{% block body_navigation %}
  <div class="top-bar"></div> <!-- mobile menu bar -->
  <div id="menu-wrapper"><!-- mobile menu -->
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
    <div class="menu">
      <label class="menu-toggle" for="menu"><span>Toggle</span></label>
      <ul>
        <li>
          <a href="{% url "home:index" %}">Home</a>
        </li>
        <li>
          <a href="{% url "home:sponsors" %}">Sponsors</a>
        </li>
        <li>
          <a href="{% url "home:calendar" %}">Calendar</a>
        </li>
        <li>
          <a href="{% url "home:media" %}">Media</a>
        </li>
        <li>
          <a href="{% url "home:officers" %}">Officers</a>
        </li>
        <li>
          <a
            href="{% url "thirdparty_auth:login" "oauth2" "google" %}">Login</a>
        </li>
      </ul>
    </div>
  </div><!-- mobile menu -->

  <div class="pseudo-nav"></div>
  <nav><!-- desktop nav -->
    <ul class="nav-link-wrapper">
      <li class="nav-home nav-button"><a href="{% url "home:index" %}"
                                         title="Home">
        <img src="{% static "home/img/core/home-icon.png" %}"/>
        <span>Home</span>
      </a></li>
      <li class="nav-sponsors nav-button"><a href="{% url "home:sponsors" %}"
                                             title="Sponsors">
        <img src="{% static "home/img/core/sponsors-icon.png" %}"/>
        <span>Sponsors</span>
      </a></li>
      <li class="nav-calendar nav-button"><a href="{% url "home:calendar" %}"
                                             title="Calendar">
        <img src="{% static "home/img/core/calendar-icon.png" %}"/>
        <span>Calendar</span>
      </a></li>
      <li class="nav-media nav-button"><a href="{% url "home:media" %}"
                                          title="Media">
        <img src="{% static "home/img/core/media-icon.png" %}"/>
        <span>Media</span>
      </a></li>
      <li class="nav-officers nav-button"><a href="{% url "home:officers" %}"
                                             title="Officers">
        <img src="{% static "home/img/core/officers-icon.png" %}"/>
        <span>Officers</span>
      </a></li>
      <li class="nav-login nav-button"><a
        href="{% url "thirdparty_auth:login" "oauth2" "google" %}"
        title="Login">
        <img src="{% static "home/img/core/login-icon.png" %}"/>
        <span>Log In</span>
      </a></li>
    </ul>
  </nav><!-- desktop nav -->
{% endblock %}
{% block body_footer %}
  <footer>
    <img src="{% static "core/img/mstacm-logo-trans-new.png" %}"/>
    <div class="footer-nav">
      <a href="{% url "home:index" %}">Home</a>
      <a href="{% url "home:sponsors" %}">Sponsors</a>
      <a href="{% url "home:calendar" %}">Calendar</a>
      <a href="{% url "home:media" %}">Media</a>
      <a href="{% url "home:officers" %}">Officers</a>
    </div>
    <h5>@ 2017 Missouri S&T SIG.com. All rights reserved.</h5>
  </footer>
{% endblock %}
