{% extends 'home/base.html' %}

{% load static %}

{% block head_title %}
  <title> ACM | Calendar </title>
{% endblock %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{% static "/home/css/calendar.css" %}"/>
{% endblock %}

{% block body_content %}
  <main>
    <div class="content-wrapper">
      <iframe
        src="https://calendar.google.com/calendar/embed?src=mst.edu_7u3stm8bn7l2umuastep5fmbl0%40group.calendar.google.com&ctz=America/Chicago"
        style="border: 0" frameborder="0" scrolling="no"></iframe>
    </div>
  </main>
{% endblock %}
