{% extends "home/base.html" %}
{% load static %}

{% block head_title %}
  <title> ACM | Media </title>
{% endblock %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{% static "/home/css/media.css" %}"/>
{% endblock %}

{% block body_content %}
  <main class="clearfix">
    <div class="content-wrapper">
      <div class="m-p-g">
        <div class="m-p-g__thumbs" data-google-image-layout
             data-max-height="350">
          <br />
          <br />
          <br />
          <h1 style="text-align: center">Temporarily Unavailable</h1>
          <br />
          <br />
          <br />
          {# Removed awaiting approval of people in media #}
          <!--<img src="{% static "/home/img/media/ctf.jpg" %}"
               data-full="{% static "/home/img/media/ctf.jpg" %}"
               class="m-p-g__thumbs-img"/>
          <img src="{% static "/home/img/media/ctf_1.jpg" %}"
               data-full="{% static "/home/img/media/ctf_1.jpg" %}"
               class="m-p-g__thumbs-img"/>
          <img src="{% static "/home/img/media/sigsec.jpg" %}"
               data-full="{% static "/home/img/media/sigsec.jpg" %}"
               class="m-p-g__thumbs-img"/>
          <img src="{% static "/home/img/media/sigcomp.jpg" %}"
               data-full="{% static "/home/img/media/sigcomp.jpg" %}"
               class="m-p-g__thumbs-img"/>
          <img src="{% static "/home/img/media/intropython.jpg" %}"
               data-full="{% static "/home/img/media/intropython.jpg" %}"
               class="m-p-g__thumbs-img"/>
          <img src="{% static "/home/img/media/network_talk.jpg" %}"
               data-full="{% static "/home/img/media/network_talk.jpg" %}"
               class="m-p-g__thumbs-img"/>
          <img src="{% static "/home/img/media/sigcomp_1.jpg" %}"
               data-full="{% static "/home/img/media/sigcomp_1.jpg" %}"
               class="m-p-g__thumbs-img"/>
          <img src="{% static "/home/img/media/icpc.jpg" %}"
               data-full="{% static "/home/img/media/icpc.jpg" %}"
               class="m-p-g__thumbs-img"/>-->
        </div>

        <div class="m-p-g__fullscreen"></div>
      </div>
    </div>
  </main>

  <script>
    var elem = document.querySelector('.m-p-g'); {# Selects block of photos #}

    document.addEventListener('DOMContentLoaded', function () {
      var gallery = new MaterialPhotoGallery(elem);
    }); {# Applies the neccesary classes to each child #}
  </script>

  {# JS library that controls this page's media display #}
  <script
    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/material-photo-gallery.min.js"></script>
{% endblock %} 
