{% extends 'home/base.html' %}
{% load static %}

{% block head_title %}
  <title> ACM | Membership </title>
{% endblock %}
{% block head_stylesheets %}
  <link rel="stylesheet" href="{% static "/home/css/membership.css" %}"/>
{% endblock %}

{% block body_content %}
  <main>
    <div class="content-wrapper">
      <h1 class="perks-header"><a name="top">Become a Member</a>
      </h1>
      <hr>
     
      <div class="pay-area">
        <div class="pay-area__card">
          <h1 class="pay-area__title">Semester</h1>
          <div class="pay-area__price">11</div>
          <div class="pay-area__disclaimer">all perks are included</div>
          <form id="semester-button" class="acm-btn pay-area__btn pay-area__btn--semester" action="{% url 'payments:product-handler' 1100 %}" method="POST">
            {% csrf_token %}
            Buy Semester
          </form>
        </div>
        <div class="pay-area__spacer"></div>
        <div class="pay-area__card pay-area__card--year">
          <h1 class="pay-area__title">Year</h1>
          <div class="pay-area__price">20</div>
          <div class="pay-area__disclaimer">all perks are included</div>
          <form id="year-button" class="acm-btn pay-area__btn pay-area__btn--year" action="{% url 'payments:product-handler' 1100 %}" method="POST">
            {% csrf_token %}
            Buy Year
          </form>
        </div>
      </div>
    <div class="perks">
      <div class="perks__perk">
        <img src="{% static "home/img/membership/tshirt-crew.png" %}">
        <div class="perks__content">
          <h3 class="perks__title">Free Shirt</h3>
          <hr>
          <div class="perks__description">Free ACM shirt every year</div>
      </div>
    </div>
      <div class="perks__perk">
          <img src="{% static "home/img/membership/cash-usd.png" %}">
          <div class="perks__content">
        <h3 class="perks__title">Discounts</h3>
        <hr>
        <div class="perks__description">Cheap entry to ACM events</div>
      </div>
    </div>
      <div class="perks__perk">
          <img src="{% static "home/img/membership/tie.png" %}">
          <div class="perks__content">
        <h3 class="perks__title">ACM Dinner</h3>
        <hr>
        <div class="perks__description">Free dinner with business
          professionals
        </div>
      </div>
      </div>
    </div>
  </div>
  </main>

  <script src="https://checkout.stripe.com/checkout.js"></script>
          <script>
            var handler = StripeCheckout.configure({
              key: 'pk_test_0FfWE5qxj6yqPUHQU1noRevQ',
              image: '{% static 'home/img/core/acm.png' %}',
              locale: 'auto',
              token: function(token) {
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
              }
            });

            document.getElementById('semester-button').addEventListener('click', function(e) {
              // Open Checkout with further options:
              handler.open({
                name: 'Missouri S&T - Association of Computing Machinery',
                description: 'Semester Membership',
                zipCode: true,
                amount: 1100
              });
              e.preventDefault();
            });

            document.getElementById('year-button').addEventListener('click', function(e) {
              // Open Checkout with further options:
              handler.open({
                name: 'Missouri S&T - Association of Computing Machinery',
                description: 'Year Membership',
                zipCode: true,
                amount: 2000
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
              handler.close();
            });
          </script>
{% endblock %}
