{% extends 'home/base.html' %}
{% load static %}

{% block head_title %}
  <title> ACM | Membership </title>
{% endblock %}
{% block head_description %}
  <meta name="description" content="Find out about the perks of being a Missouri S&T ACM member and become one yourself!"/>
{% endblock %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="{% static "/home/css/membership.css" %}"/>
{% endblock %}

{% block body_content %}
  <main>
    <div class="content-wrapper">
      <h1 class="perks-header"><a name="top">ACM Membership Perks</a>
      </h1>
      <hr>
      <div class="perks">
          <div class="perks__perk">
            <img src="{% static "home/img/membership/tshirt-crew.svg" %}" alt="tshirt icon">
            <div class="perks__content">
              <h3 class="perks__title">ACM Shirt</h3>
              <hr>
              <div class="perks__description">Student designed ACM shirt for the
                  current year
              </div>
          </div>
        </div>
          <div class="perks__perk">
              <img src="{% static "home/img/membership/cash-usd.svg" %}" alt="dollar icon">
              <div class="perks__content">
            <h3 class="perks__title">Discounts</h3>
            <hr>
            <div class="perks__description">Discounted entry to ACM events</div>
          </div>
        </div>
          <div class="perks__perk">
              <img src="{% static "home/img/membership/tie.svg" %}" alt="tie icon">
              <div class="perks__content">
            <h3 class="perks__title">Career Fair Dinner</h3>
            <hr>
            <div class="perks__description">Exclusive dinner with industry 
              professionals
            </div>
          </div>
          </div>
        </div>
        <h1 class="perks-header"><a name="top">Become a Member</a>
        </h1>
        <hr>
      <div class="pay-area">
        <div class="pay-area__card">
          <h1 class="pay-area__title">Semester</h1>
          <div class="pay-area__price">11</div>
          <div class="pay-area__disclaimer">all perks are included</div>
          <form id="semester-button" class="acm-btn pay-area__btn pay-area__btn--semester" method="POST">
            {% csrf_token %}
            <input type="hidden" id="stripeToken" name="stripeToken">
            <input type="hidden" name="type" value="semester">

            Buy Semester
          </form>
        </div>
        <div class="pay-area__spacer"></div>
        <div class="pay-area__card pay-area__card--year">
          <h1 class="pay-area__title">Year</h1>
          <div class="pay-area__price">20</div>
          <div class="pay-area__disclaimer">all perks are included</div>
          <form id="year-button" class="acm-btn pay-area__btn
              pay-area__btn--year" method="POST">
            {% csrf_token %}
            <input type="hidden" id="stripeToken" name="stripeToken">
            <input type="hidden" name="type" value="year">
            Buy Year
          </form>
        </div>
      </div>
    
      <p class="cash-text">To pay with cash, contact <a style="color:#2da1d8;" href="mailto:acm@mst.com?Subject=ACM Sponsorship" target="_top">acm@mst.edu</a> or visit any of ACM's main <a style="color:#2da1d8;" href="{% url "home:index" %}">events</a>.</p>
  </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
          <script>
            var semester_handler = StripeCheckout.configure({
              key: '{{ stripe_public_key }}',
              image: '{% static 'home/img/core/acm.png' %}',
              locale: 'auto',
              token: function(token) {
                  console.log("Token: " + token);
                  $("#stripeToken").val(token.id);
                  $("#semester-button").submit();
              }
            });

            var year_handler = StripeCheckout.configure({
              key: '{{ stripe_public_key }}',
              image: '{% static 'home/img/core/acm.png' %}',
              locale: 'auto',
              token: function(token) {
                  console.log("Token: " + token);
                  $("#stripeToken").val(token.id);
                  $("#year-button").submit();
              }
            });

            document.getElementById('semester-button').addEventListener('click', function(e) {
              // Open Checkout with further options:
              semester_handler.open({
                name: 'Missouri S&T - Association of Computing Machinery',
                description: 'Semester Membership',
                zipCode: true,
                amount: 1100
              });
              e.preventDefault();
            });

            document.getElementById('year-button').addEventListener('click', function(e) {
              // Open Checkout with further options:
              year_handler.open({
                name: 'Missouri S&T - Association of Computing Machinery',
                description: 'Year Membership',
                zipCode: true,
                amount: 2000
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
              semester_handler.close();
              year_handler.close();
            });
          </script>
{% endblock %}
