{% extends 'home/base.html' %}
{% load static %}

{% block head_title %}
 <title> ACM | Officers </title>
{% endblock %}
{% block head_description %}
  <meta name="description" content="All the Officers of Missouri S&T's ACM and their contact information."/>
{% endblock %}

{% block head_stylesheets %}
 <link rel="stylesheet" href="{% static "/home/css/officers.css" %}"/>
{% endblock %}

{% block body_content %}
 <main>
  <div class="content-wrapper">
   <ul class="cards">

    <li class="cards__card">
      <div class="card__image"
       style="background-image: url({% static "home/img/officers/current/SIG.com-chair.jpg" %})">
      </div>

      <div class="card__content">
        <div class="card_heading">
          <h3 class="card__name">Kevin Schoonover</h3>
          <h5 class="card__titles">President</h5>
          <h5 class="card__titles">SIG-Web Chair</h5>
          <h5 class="card__titles">System Administrator</h5>
        </div>

        <div class="card__text">
          Year - Junior<br>
        </div>

        <div class="card__links">
          <a href="https://www.linkedin.com/in/schoonoverkevin/" class="acm-btn">LinkedIn</a>
          <a href="mailto:ksyh3@mst.edu" class="acm-btn">Email</a>
        </div>
      </div>
    </li>

    <li class="cards__card">
     <div class="card__image"
      style="background-image: url({% static "home/img/officers/current/shelbyh.png" %})">
     </div>
     <div class="card__content">
       <div class="card_heading">
         <h3 class="card__name">Shelby Hayes</h3>
         <h5 class="card__titles">Vice President</h5>
       </div>
      <div class="card__text">
       Year - Senior<br>
       {# TODO: make this start of service and put like august, 2014 #}
      </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/shelbybhayes/"
        class="acm-btn">LinkedIn</a>
       <a href="mailto:sbh43b@mst.edu"
        class="acm-btn">Email</a>
      </div>
     </div>
    </li>

    <li class="cards__card">
     <div class="card__image"
      style="background-image: url({% static "home/img/officers/current/claymcginnis.png" %})">
     </div>
     <div class="card__content">
       <div class="card_heading">
         <h3 class="card__name">Clay McGinnis</h3>
         <h5 class="card__titles">Vice President</h5>
       </div>
      <div class="card__text">
       Year - Junior<br>
       {# TODO: make this start of service and put like august, 2014 #}
      </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/claymav"
        class="acm-btn">LinkedIn</a>
       <a href="mailto:cmm4hf@mst.edu"
        class="acm-btn">Email</a>
      </div>
     </div>
    </li>

    <li class="cards__card">
     <div class="card__image"
      style="background-image: url({% static "home/img/officers/current/David_Gardiner.jpeg" %})">
     </div>
     <div class="card__content">
       <div class="card_heading">
         <h3 class="card__name">David Gardiner</h3>
         <h5 class="card__titles">Treasurer</h5>
       </div>
      <div class="card__text">
       Year - Senior<br>
       {# TODO: make this start of service and put like august, 2014 #}
      </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/david-m-gardiner/"
        class="acm-btn">LinkedIn</a>
       <a href="mailto:dgn24@mst.edu"
        class="acm-btn">Email</a>
      </div>
     </div>
    </li>

    <li class="cards__card">
     <div class="card__image"
      style="background-image: url({% static "home/img/officers/current/StevenGiangreco.jpg" %})">
     </div>
     <div class="card__content">
       <div class="card_heading">
         <h3 class="card__name">Steven Giangreco</h3>
         <h5 class="card__titles">Secretary</h5>
       </div>
      <div class="card__text">
       Year - Senior<br>
       {# TODO: make this start of service and put like august, 2014 #}
      </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/steven-giangreco-42a1b5132"
        class="acm-btn">LinkedIn</a>
       <a href="mailto:smgrmd@mst.edu"
        class="acm-btn">Email</a>
      </div>
     </div>
    </li>

    <li class="cards__card">
      <div class="card__image"
       style="background-image: url({% static "home/img/officers/current/sethkitchen.jpg" %})">
      </div>

      <div class="card__content">
        <div class="card_heading">
          <h3 class="card__name">Seth Kitchen</h3>
          <h5 class="card__titles">Event Coordinator</h5>
        </div>
        <div class="card__text">
          Year - Senior<br>
        </div>
        <div class="card__links">
          <a href="https://www.linkedin.com/in/seth-kitchen-ba1116a3/"
           class="acm-btn">LinkedIn</a>
          <a href="mailto:sjkyv5@mst.edu" class="acm-btn">Email</a>
        </div>
      </div>
    </li>

    <li class="cards__card">
      <div class="card__image"
       style="background-image: url({% static "home/img/officers/current/jackmanhardt.jpg" %})">
      </div>

      <div class="card__content">
        <div class="card_heading">
          <h3 class="card__name">Jack Manhardt</h3>
          <h5 class="card__titles">SIG-Competition Chair</h5>
        </div>
        <div class="card__text">
          Year - Freshman<br>
        </div>
      <div class="card__links">
       <a href="https://linkedin.com/in/jackmanhardt"
         class="acm-btn">LinkedIn</a>
       <a href="mailto:jmmbbv@mst.edu"
        class="acm-btn">Email</a>
      </div>
      </div>
    </li>

    <li class="cards__card">
     <div class="card__image"
      style="background-image: url({% static "home/img/officers/current/HenryWong.jpg" %})">
     </div>
     <div class="card__content">
       <div class="card_heading">
        <h3 class="card__name">Henry Wong</h3>
        <h5 class="card__titles">SIG-Data Chair</h5>
      </div>
      <div class="card__text">
       Year - Junior<br>
       {# TODO: make this start of service and put like august, 2014 #}
      </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/henrycwong/"
         class="acm-btn">LinkedIn</a>
       <a href="mailto:hcwqk7@mst.edu"
        class="acm-btn">Email</a>
      </div>
     </div>
    </li>


    <li class="cards__card">
      <div class="card__image"
       style="background-image: url({% static "home/img/officers/current/trevanlang.jpg" %})">
      </div>

      <div class="card__content">
        <div class="card_heading">
          <h3 class="card__name">Trevan Lang</h3>
          <h5 class="card__titles">SIG-Game Chair</h5>
        </div>
        <div class="card__text">
          Year - Sophomore<br>
        </div>
      <div class="card__links">
       <!--<a href="https://www.linkedin.com/in/schoonoverkevin/"
         class="acm-btn">LinkedIn</a>-->
       <a href="mailto:txlm4d@mst.edu"
        class="acm-btn">Email</a>
      </div>
      </div>
    </li>

    <li class="cards__card">
      <div class="card__image"
       style="background-image: url({% static "home/img/officers/current/luisocampo.jpg" %})">
      </div>

      <div class="card__content">
        <div class="card_heading">
          <h3 class="card__name">Luis Ocampo</h3>
          <h5 class="card__titles">SIG-Hack Co-chair</h5>
        </div>
        <div class="card__text">
          Year - Sophomore<br>
        </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/luismocampo/"
         class="acm-btn">LinkedIn</a>
       <a href="mailto:lmo3cc@mst.edu"
        class="acm-btn">Email</a>
      </div>
      </div>
    </li>

		<li class="cards__card">
      <div class="card__image"
       style="background-image: url({% static "home/img/officers/current/chrisgu.jpg" %})">
      </div>

      <div class="card__content">
        <div class="card_heading">
          <h3 class="card__name">Christopher Gu</h3>
          <h5 class="card__titles">SIG-Hack Co-chair</h5>
        </div>
        <div class="card__text">
          Year - Junior<br>
        </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/christopherlgu/"
         class="acm-btn">LinkedIn</a>
       <a href="mailto:clg2n4@mst.edu"
        class="acm-btn">Email</a>
      </div>
      </div>
    </li>

    <li class="cards__card">
      <div class="card__image"
       style="background-image: url({% static "home/img/officers/current/tanners.png" %})">
      </div>

      <div class="card__content">
        <div class="card_heading">
          <h3 class="card__name">Tanner Stephens</h3>
          <h5 class="card__titles">SIG-Security Chair</h5>
        </div>
        <div class="card__text">
          Year - Senior<br>
        </div>
      <div class="card__links">
       <a href="https://www.linkedin.com/in/tanner-stephens-ab8782a3/"
         class="acm-btn">LinkedIn</a>
       <a href="mailto:trsxw8@mst.edu"
        class="acm-btn">Email</a>
      </div>
      </div>
    </li>

		{# Below should expand and make more info about past officers appear #}
   </ul>
  </div>
 </main>
{% endblock %}
