{% extends 'home/base.html' %}

{% load static %}

{% block head_title %}
<title> ACM | Sponsors </title>
{% endblock %}

{% block head_stylesheets %}
<link rel="stylesheet" href="{% static "/home/css/normalize.css" %}" />
<link rel="stylesheet" href="{% static "/home/css/main.css" %}" />
<link rel="stylesheet" href="{% static "/home/css/sponsors.css" %}" />

<link rel="apple-touch-icon" href="apple-touch-icon.png">
{% endblock %}

{% block body_content %}
<div class="main-section">
    <div class="content-wrapper">
        <h1 style="text-align:center;"> Thank you to our sponsors! </h1>
        <h2 style="text-align:center;"> Contact <a href="mailto:acm@mst.com?Subject=ACM Sponsorship" target="_top">acm@mst.edu</a> to join it!</h2>

        <div class="hor-bar"></div>

        <div class="big-boy-spot">

            <div class="card-wrapper">
                <div class="sponsors-card">

                    <div class="sponsors-content">
                        <img src="{% static "home/img/tradebot-squarelogo.png" %}"/>
                    </div>

                    <div class="sponsors-header">
                        <h3>Tradebot</h3>
                        <h4>Sponsor</h4>
                    </div>

                    <div class="sponsors-links">
                        <a href="http://www.tradebot.com/">LEARN MORE</a>
                    </div>

                </div>
            </div>

            <div class="card-wrapper">
                <div class="sponsors-card">

                    <div class="sponsors-content">
                        <img src="{% static "home/img/garmin-squarelogo.png" %}"/>
                    </div>

                    <div class="sponsors-header">
                        <h3>Garmin</h3>
                        <h4>Sponsor</h4>
                    </div>

                    <div class="sponsors-links">
                        <a href="http://www.garmin.com/">LEARN MORE</a>
                    </div>

                </div>
            </div>

            <div class="card-wrapper">
                <div class="sponsors-card">

                    <div class="sponsors-content">
                        <img src="{% static "home/img/garmin-squarelogo.png" %}"/>
                    </div>

                    <div class="sponsors-header">
                        <h3>AT&T</h3>
                        <h4>Donor</h4>
                    </div>

                    <div class="sponsors-links">
                        <a href="http://www.garmin.com/">LEARN MORE</a>
                    </div>

                </div>
            </div>

            <div class="card-wrapper">
                <div class="sponsors-card">

                    <div class="sponsors-content">
                        <img src="{% static "home/img/Union_Pacific_Logo.svg.png" %}"/>
                    </div>

                    <div class="sponsors-header">
                        <h3>Union Pacific</h3>
                        <h4>Contributor</h4>
                    </div>

                    <div class="sponsors-links">
                        <a href="http://www.garmin.com/">LEARN MORE</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
