{% load tz %}

{% for event in upcoming_events %}
    <div class="event-wrapper">
        <div class="event-card">
            <a href="{{ event.flier.url }}" class="flyer-space">
                <img src="{{ event.flier.url }}" />
            </a>
            <div class="flyer-info">
                <h2>{{ event.title }}</h2>
                <p>{{ event.description }}</p>
                <!--
                {% if event.link %}
                    <div><a href="http://siggame.io">Learn More</a></div>
                {% endif %}
                -->
            </div>
        </div>
    </div>
{% endfor %}
