{% load tz %}

{% for event in upcoming_events %}
    <div class="event-wrapper">
        <div class="event-card">
            <a href="{{ event.flier.url }}" class="flier-space">
                <img src="{{ event.flier.url }}" />
            </a>
            <div class="flier-info">
                <h2>{{ event.title }}</h2>
                <p>{{ event.description|truncatechars:100 }}</p>
                <div><a href="{% url "events:events-list" %}" class="acm-btn">See More</a></div>
            </div>
        </div>
    </div>
{% endfor %}
{% if num_events > 2 %}
<a href="{% url "events:events-list" %}" class="events-link">More Events</a>
{% endif %}
