{% load static %}
<html>
  <head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "tools/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
  </head>

  <body>
    <div class="container" style="padding-top:25px;">
      <div style="margin:auto;">
        <form class="" role="search">
          <div class="form-group">
            <input class="form-control" placeholder="Search" type="text" id="SearchBar" oninput="SearchFunction()">
          </div>
        </form>
      </div>
    </div>
  </body>


  <script src="{% static "/tools/js/Fuse/dist/fuse.js" %}"></script>
  <script src="{% static "/tools/js/main.js" %}"></script>
  <script src="{% static "/tools/js/search.js" %}"></script>
</html>