{% load static %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="{% static "/tools/js/Fuse/dist/fuse.js" %}"></script>
<script src="{% static "/tools/js/main.js" %}"></script>
<script src="{% static "/tools/js/search.js" %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 <link rel="stylesheet" href="{% static "/tools/css/bootstrap.min.css" %}"/>

<div class="container" style="padding-top:25px;">
  <div style="margin:auto;">
    <form class="" role="search">
      <div class="form-group">
        <input class="form-control" placeholder="Search" type="text" id="SearchBar" oninput="SearchFunction()">
      </div>
    </form>
  </div>
</div>
