@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body, html {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: inherit;
    color: white;
}

input, textarea, option {
    font-size: 15px;
}

.header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    background-color: blue;
    width:auto;
    height:auto;
    padding:10px;
    background-color: #241234;
}

.header-items:last-child {
    color: white;
    align-self: flex-end;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.logo {
    margin:10px;
    width:70px;
    height:70px;
}

.logo-name {
    color: white;
    font-size: 85%;
    align-self: center;
}

.event-details {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    font-size: 90%;
    flex: 6;
}

.flex-item{
    display: flex;
    margin: 10px;
    padding: 10px 0;
    position: relative;
    bottom: 10px;
}

.field-label{
    flex:1;
    font-size: 15px;
}

.field-input{
    flex: 5;
    padding-left: 20px;
}

input[type="submit"]{
    margin-top: 35px;
    margin-left: 120px;
    box-shadow: 1px 0 4px #39B38F;
}
