coverage
coveralls
django
requests
psycopg2
djangorestframework
django-filter
stripe
selenium
Pillow
Sphinx
flake8
sphinx_rtd_theme
google-auth 
google-auth-oauthlib 
google-auth-httplib2
google-api-python-client
