/* line 1, ../scss/404.scss */
body, html {
  margin: 0;
  height: 100%;
}

/* line 6, ../scss/404.scss */
body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

/* line 21, ../scss/404.scss */
.top-content {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #f1f1f1;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 50%;
}

/* line 32, ../scss/404.scss */
.bottom-content {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 50%;
}

/* line 43, ../scss/404.scss */
.container {
  width: 700px;
  margin: 0 auto;
  padding: 0 5px;
}

/* line 49, ../scss/404.scss */
h1 {
  width: 700px;
  padding: 0 5px;
  color: #4d4d4d;
  margin: 0 auto;
  font-size: 200px;
  font-weight: lighter;
  line-height: 190px;
}

/* line 59, ../scss/404.scss */
h2 {
  font-weight: normal;
}

/* line 63, ../scss/404.scss */
a {
  position: relative;
  display: inline-block;
}

/* line 68, ../scss/404.scss */
a:nth-of-type(2) {
  margin-left: 10px;
}
