.nav-calendar a span {
  color: #4d4d4d !important;
}

.nav-calendar:hover a span {
  color: #4d4d4d !important;
}

.nav-calendar:after {
  transform: scaleX(.8);
}

.main-section {
  background-color: white;
  padding-bottom: 20px;
}

iframe {
  width: 100%;
  height: 600px;
}