/*
 * Document: static/home/gridmain.css
 * Description: baseline css for project
 * Usage: Include into every html file
 * Author: Clay McGinnis - ACM SIG.com
 */
/* =========================================================================
 * Imports
 * ========================================================================= */
/* =========================================================================
 * Enforced Defaults
 * ========================================================================= */
/* line 18, ../scss/gridmain.scss */
html {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Page-wide cosmetics */
  background-color: #fff;
  /* Default font properties */
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

/* line 37, ../scss/gridmain.scss */
body {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 'nav' 'header' 'main' 'footer';
}

/* line 54, ../scss/gridmain.scss */
*,
*::before,
*::after {
  /* Unified box-sizing */
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight
 * These selection rule sets have to be separate.
 */
/* line 66, ../scss/gridmain.scss */
::-moz-selection {
  background: #fff;
  text-shadow: none;
}

/* line 71, ../scss/gridmain.scss */
::selection {
  background: #fff;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 82, ../scss/gridmain.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 95, ../scss/gridmain.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 105, ../scss/gridmain.scss */
textarea {
  resize: vertical;
}

/* =========================================================================
 * Browser Upgrade Prompt
 * ========================================================================= */
/* line 113, ../scss/gridmain.scss */
.browserupgrade {
  /* Allocate space */
  padding: 0.2em 0;
  margin: 0.2em 0;
  /* Formatting */
  /* Cosmetics */
  background: #ccc;
  color: #000;
}

/* =========================================================================
 * Header Style [Mobile/Desktop]
 * ========================================================================= */
/* line 127, ../scss/gridmain.scss */
body {
  background: url("../../home/img/core/sigcompcrop.png") top no-repeat fixed;
}

/* line 135, ../scss/gridmain.scss */
header {
  /* Allocate space */
  width: 100%;
  height: 420px;
  /* Formatting */
  /* Cosmetics */
  /*background-color: #245623;*/
}

/* line 145, ../scss/gridmain.scss */
.header__logo-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 20px 0 0 20px;
  /* Formatting */
  /* Cosmetics */
}

/* line 154, ../scss/gridmain.scss */
.header__logo {
  /* Allocate space */
  height: 70px;
  /* Formatting */
  display: flex;
  align-items: center;
  /* Cosmetics */
}

/* line 163, ../scss/gridmain.scss */
.header__logo img {
  /* Allocate space */
  height: 100%;
  /* Formatting */
  /* Cosmetics */
}

/* line 170, ../scss/gridmain.scss */
.header__logo h3 {
  /* Allocate space */
  margin: 0 0 0 10px;
  /* Formatting */
  /* Cosmetics */
  color: white;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .7px;
}

/* line 181, ../scss/gridmain.scss */
.header__welcome-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 0 20px 20px 0;
  /* Formatting */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
  /* Cosmetics */
}

/* line 194, ../scss/gridmain.scss */
.header__welcome {
  /* Allocate space */
  /* Formatting */
  margin: 0;
  /* Cosmetics */
  color: white;
  line-height: .8em;
  font-weight: normal;
  text-decoration: none;
}

/* =========================================================================
 * Navigation Styles [Mobile]
 * ========================================================================= */
/* line 210, ../scss/gridmain.scss */
.desktop-nav {
  display: none;
}

/* line 213, ../scss/gridmain.scss */
.pseudo-nav {
  display: none;
}

/* line 217, ../scss/gridmain.scss */
nav {
  z-index: 100;
  width: 100vw;
  background: #373C3F;
  height: 56px;
  overflow: hidden;
  position: fixed;
}

/* line 226, ../scss/gridmain.scss */
label {
  cursor: pointer;
}

/* line 230, ../scss/gridmain.scss */
label:focus {
  outline: none;
}

/* line 234, ../scss/gridmain.scss */
.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #f1f1f1;
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}

/* line 246, ../scss/gridmain.scss */
.menu label.menu-toggle {
  position: absolute;
  z-index: 10;
  right: -60px;
  width: 60px;
  height: 56px;
  line-height: 0px;
  padding: 19px 18px;
  display: block;
  text-indent: -9999px;
  background: #373C3F;
}

/* line 259, ../scss/gridmain.scss */
span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

/* line 275, ../scss/gridmain.scss */
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

/* line 280, ../scss/gridmain.scss */
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* line 285, ../scss/gridmain.scss */
.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 56px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  transition: all .1s ease-in-out;
}

/* line 295, ../scss/gridmain.scss */
.menu ul li a:hover, .menu ul li label:hover {
  color: #76d3ab;
  background-color: #eee;
  font-weight: bold;
}

/* line 301, ../scss/gridmain.scss */
.menu ul {
  margin-top: 0;
  padding-left: 0;
}

/* line 306, ../scss/gridmain.scss */
.menu ul li {
  list-style: none;
}

/* hide inputs */
/* line 311, ../scss/gridmain.scss */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
/* line 316, ../scss/gridmain.scss */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
/* line 321, ../scss/gridmain.scss */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}
