/* line 1, ../scss/index.scss */
.nav-home a span {
  color: #4d4d4d !important;
}

/* line 5, ../scss/index.scss */
.nav-home:hover a span {
  color: #4d4d4d !important;
}

/* line 8, ../scss/index.scss */
.nav-home:after {
  transform: scaleX(0.8);
}

/* line 12, ../scss/index.scss */
.event-wrapper:nth-child(even) {
  background-color: #f1f1f1;
}

/* line 16, ../scss/index.scss */
.event-card {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  box-sizing: content-box;
  max-width: 1000px;
  display: flex;
}

/* line 25, ../scss/index.scss */
.event-wrapper:nth-child(even) .event-card {
  flex-direction: row-reverse;
}

/* line 29, ../scss/index.scss */
.flier-space {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-shrink: 0;
}

/* line 39, ../scss/index.scss */
.flier-space img {
  height: 400px;
  flex-shrink: 0;
}

/* line 44, ../scss/index.scss */
.event-wrapper:nth-child(even) .event-card .flier-space img {
  margin-left: 10px;
}

/* line 48, ../scss/index.scss */
.flier-info {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  white-space: pre-line;
  flex: 1 1 auto;
  justify-content: center;
  margin-left: 20px;
}

/* line 61, ../scss/index.scss */
.flier-info h2 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  line-height: 25px;
}

/* line 67, ../scss/index.scss */
.flier-info p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  margin-bottom: 35px;
}

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  /* line 75, ../scss/index.scss */
  .event-card {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 81, ../scss/index.scss */
  .event-card .flier-space img {
    margin: auto !important;
  }

  /* line 85, ../scss/index.scss */
  .flier-info {
    margin: 0;
  }

  /* line 89, ../scss/index.scss */
  .flier-info h2 {
    margin-left: 0;
    text-align: center;
  }

  /* line 94, ../scss/index.scss */
  .flier-info p {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 99, ../scss/index.scss */
  .flier-info a {
    margin-left: 15px;
  }

  /* line 103, ../scss/index.scss */
  .event-wrapper:nth-child(even) .event-card {
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
  }

  /* line 109, ../scss/index.scss */
  .event-wrapper:nth-child(even) .flier-space {
    margin-right: 0;
    margin-left: 0 !important;
  }

  /* line 114, ../scss/index.scss */
  .flier-space {
    height: 400px;
    margin-right: 0;
  }
}
/* line 121, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .event-card {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
}
/* line 128, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .event-card .flier-space img {
  margin: auto !important;
}
/* line 132, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .flier-info {
  max-width: 600px;
  margin: auto;
}
/* line 137, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .flier-info h2 {
  margin-left: 0;
  text-align: center;
}
/* line 142, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .flier-info p {
  margin-left: 15px;
  margin-right: 15px;
}
/* line 147, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .flier-info a {
  margin-left: 15px;
}
/* line 151, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .event-wrapper:nth-child(even) .event-card {
  flex-direction: column !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
}
/* line 157, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .event-wrapper:nth-child(even) .flier-space {
  margin-right: 0;
  margin-left: 0 !important;
}
/* line 162, ../scss/index.scss */
html[data-useragent*='MSIE 10.0'] .flier-space {
  height: 400px;
  margin-right: 0;
}
