.main-section {
    height: 700px;
    padding-bottom: 30px;
}

.main-section .content-wrapper {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    box-sizing: border-box;
}

.non-carousel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 86%;
  width: 100%;
}

.main-section .content-wrapper h1 {
  padding-left: 9px;
  padding-bottom: 12px;
  display:flex;
  align-items: center;
  margin: 0;
  /*margin: 0 0 2% 0;*/
  height: 14%;
  width: 100%;
}

.full-wide {
    width: 100%;
}

.half-high {
    height: 48%;
}

.full-high {
    height: 100%;
}

.half-wide {
    width: 49%;
}

.top-margin {
    margin-top: 1%;
}

.bottom-margin {
    margin-bottom: 1%;
}

.left-margin {
    margin-left: 1%;
}

.right-margin {
    margin-right: 1%;
}

.two-wide-wrapper {
    display: flex;
}
