/*
 * Document: static/home/main.css
 * Description: baseline css for project
 * Usage: Include into every html file
 * Author: Clay McGinnis - ACM SIG.com
 */

/* =========================================================================
 * General Styles
 * ========================================================================= */

html {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Page-wide cosmetics */
  background-color: #fff;
  /* Default font properties */
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

body {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
}

*,
*::before,
*::after {
  /* Unified box-sizing */
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight
 * These selection rule sets have to be separate.
 */

::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::selection {
  background: #fff;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* =========================================================================
 * Browser Upgrade Prompt
 * ========================================================================= */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =========================================================================
 * Header Styles
 * ========================================================================= */

body {
  background-image: url("../../home/img/core/sigcompcrop.png");
  background-position: center -10px;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  /* Allocate space */
  width: 100%;
  height: 420px;
  /* Formatting */
  /* Cosmetics */
  /*background-color: #245623;*/
}

header .constraint-wrapper {
  /* Allocate space */
  height: 100%;
  /* Formatting */
  /* Cosmetics */
}

header .header-acm-seal-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 20px 0 0 20px;
  /* Formatting */
  /* Cosmetics */
}

header .header-acm-seal {
  /* Allocate space */
  height: 70px;
  /* Formatting */
  display: flex;
  align-items: center;
  /* Cosmetics */
}

header .header-acm-seal img {
  /* Allocate space */
  height: 100%;
  /* Formatting */
  /* Cosmetics */
}

header .header-acm-seal h3 {
  /* Allocate space */
  margin: 0 0 0 10px;
  /* Formatting */
  /* Cosmetics */
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .7px;
}

header .header-welcome-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 0 20px 20px 0;
  /* Formatting */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
  /* Cosmetics */
}

header .header-welcome {
  /* Allocate space */
  /* Formatting */
  margin: 0;
  /* Cosmetics */
  color: #fff;
  line-height: .8em;
  font-weight: normal;
  text-decoration: none;
}

/* =========================================================================
 * Navigation Styles
 * ========================================================================= */

.pseudo-nav {
  height: 60px;
  width: 92vw;
  min-width: 1000px;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .30);
  -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, .30);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .30);
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

nav {
  /* Allocate space */
  height: 90px;
  width: 92vw;
  min-width: 1000px;
  /* Formatting */
  position: relative;
  z-index: 10;
  margin: 0 auto 0 auto;
  /* Cosmetics */
  background-color: #fff;
}

nav .nav-link-wrapper {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 1000px;
  width: calc(100vw - 17px);
  height: 100%;
  display: flex;
}

.nav-button {
  text-align: center;
  text-decoration: none;
  
  display: block;
  
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.nav-button:hover a span {
  color: rgba(0, 0, 0, .55);
}

.nav-button:after {
  transition: all .25s ease-in-out;
  display: block;
  content: '';
  transform: scaleX(.40);
  border-bottom: solid 3px #2da1d8;
}

.nav-button:hover:after {
  transform: scaleX(1);
}

.nav-button a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
  width: 100%
}

.nav-button a:after {
  display: block;
  position: absolute;
  content: '';
  height: 50px;
  border-right: solid 2px #ddd;
}

.nav-button:first-of-type a:after {
  display: none;
}

.nav-button a img {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.nav-button a span {
  transition: all .2s ease-in-out;
  font-size: .8em;
  font-weight: bold;
  color: rgba(0, 0, 0, .42);
}

/* This section is for mobile menu */

#menu-wrapper {
  display: none;
}

label {
  cursor: pointer;
}

label:focus {
  outline: none;
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #fff;
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}

.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 56px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: #f0f0f0 url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/23px 21px no-repeat;
}

.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}

.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 56px;
  text-decoration: none;
  color: #000;
  transition: background-color .1s;
}

.menu ul li a:hover, .menu ul li label:hover {
  color: #E9654C;
  background-color: #f0f0f0;
}

.menu ul {
  margin-top: 0;
  padding-left: 0;
}

.menu ul li {
  list-style: none;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 8px rgba(0, 0, 0, .45);
}

.top-bar {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 56px;
  background-color: #F0F0F0;
  box-shadow: rgba(0, 0, 0, .2) 0 4px 4px 0;
}

/* =========================================================================
 * Page Modifications
 * ========================================================================= */

.main-section {
  position: relative;
  z-index: 0;
  margin-top: -30px;
  padding-top: 30px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, .30);
  -moz-box-shadow: 0 0 20px 10px rgba(0, 0, 0, .30);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, .30);
  background-color: white;
}

.acm-btn {
  background: #76d3ab; /* Old browsers */
  background: -moz-linear-gradient(top, #76d3ab 0%, #76d3ab 90%, #65b593 90%, #65b593 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #76d3ab 0%, #76d3ab 90%, #65b593 90%, #65b593 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #76d3ab 0%, #76d3ab 90%, #65b593 90%, #65b593 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76d3ab', endColorstr='#65b593', GradientType=0); /* IE6-9 */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

/* =========================================================================
 * Footer Styles
 * ========================================================================= */

footer {
  position: relative;
  z-index: 10;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

footer img {
  margin: 5px 0;
  height: 125px;
}

.footer-nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav a {
  margin: 0 2%;
  font-size: 14px;
  text-decoration: none;
  color: #5f5f5f;
}

footer h5 {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: normal;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Set content to middle of screen and desired width for content
 */

.constraint-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

/*@media (max-width: 320px) {*/
  /*!*smartphones, iPhone, portrait 480x320 phones *!*/
/*}*/

@media (max-width: 414px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  footer {
    height: 110px;
    padding-top: 15px;
  }
  
  footer img {
    display: none;
  }
}

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  header {
    margin-top: 56px;
    height: 300px;
  }
  
  .header-welcome {
    font-size: 28px;
  }
  
  nav {
    display: none;
  }
  
  .pseudo-nav {
    display: none;
  }
  
  #menu-wrapper {
    display: block;
  }
  
  .top-bar {
    top: 0;
    display: block;
  }
  
  .main-section {
    margin-top: 0;
  }
}

/*@media (max-width:961px)  { !* tablet, landscape iPad, lo-res laptops ands desktops *! }*/
@media (max-width: 1090px) {
  /* big landscape tablets, laptops, and desktops */
  body {
    background-image: url("../../home/img/core/sigcomp.png");
    background-position: center -100px;
  }
  
  nav .nav-link-wrapper {
    margin: 0;
  }
}

/*@media (min-width:1281px) { !* hi-res laptops and desktops *! }*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  
  a,
  a:visited {
    text-decoration: underline;
  }
  
  a[href]:after {
    content: " (" attr(href) ")";
  }
  
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  
  tr,
  img {
    page-break-inside: avoid;
  }
  
  img {
    max-width: 100% !important;
  }
  
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  
  h2,
  h3 {
    page-break-after: avoid;
  }
}
