/*
 * Document: static/home/main.css
 * Description: baseline css for project
 * Usage: Include into every html file
 * Author: Clay McGinnis - ACM SIG.com
 */
/* =========================================================================
 * General Styles
 * ========================================================================= */
/* line 14, ../scss/main.scss */
html {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Page-wide cosmetics */
  background-color: #fff;
  /* Default font properties */
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

/* line 33, ../scss/main.scss */
body {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
}

/* line 42, ../scss/main.scss */
*,
*::before,
*::after {
  /* Unified box-sizing */
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight
 * These selection rule sets have to be separate.
 */
/* line 54, ../scss/main.scss */
::-moz-selection {
  background: #fff;
  text-shadow: none;
}

/* line 59, ../scss/main.scss */
::selection {
  background: #fff;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 70, ../scss/main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 83, ../scss/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 93, ../scss/main.scss */
textarea {
  resize: vertical;
}

/* =========================================================================
 * Browser Upgrade Prompt
 * ========================================================================= */
/* line 101, ../scss/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =========================================================================
 * Header Styles
 * ========================================================================= */
/* line 116, ../scss/main.scss */
header {
  /* Allocate space */
  width: 100%;
  height: 420px;
  background: url("../../home/img/core/sigcompcrop.png") top/cover repeat-y fixed #f1f1f1;
  /* Formatting */
  /* Cosmetics */
  /*background-color: #245623;*/
}
/* line 130, ../scss/main.scss */
header .constraint-wrapper {
  height: 100%;
}

/* line 135, ../scss/main.scss */
.header__logo-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 20px 0 0 20px;
  /* Formatting */
  /* Cosmetics */
}

/* line 144, ../scss/main.scss */
.header__logo {
  /* Allocate space */
  height: 70px;
  /* Formatting */
  display: flex;
  align-items: center;
  /* Cosmetics */
}

/* line 153, ../scss/main.scss */
.header__logo img {
  /* Allocate space */
  height: 100%;
  /* Formatting */
  /* Cosmetics */
}

/* line 160, ../scss/main.scss */
.header__logo h3 {
  /* Allocate space */
  margin: 0 0 0 10px;
  /* Formatting */
  /* Cosmetics */
  color: white;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .7px;
}

/* line 171, ../scss/main.scss */
.header__welcome-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 0 20px 20px 0;
  /* Formatting */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
  /* Cosmetics */
}

/* line 184, ../scss/main.scss */
.header__welcome {
  /* Allocate space */
  /* Formatting */
  margin: 0;
  text-align: right;
  /* Cosmetics */
  color: white;
  line-height: .8em;
  font-weight: normal;
  text-decoration: none;
}

/* =========================================================================
 * Navigation Styles
 * ========================================================================= */
/* line 200, ../scss/main.scss */
.pseudo-nav {
  height: 60px;
  width: 92vw;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  overflow-x: hidden;
}

/* line 214, ../scss/main.scss */
nav {
  width: 100%;
  overflow-x: hidden;
}

/* line 219, ../scss/main.scss */
.nav__real {
  /* Allocate space */
  height: 90px;
  width: 92vw;
  min-width: 1000px;
  /* Formatting */
  position: relative;
  z-index: 10;
  margin: 0 auto 0 auto;
  /* Cosmetics */
  background-color: #fff;
}

/* line 232, ../scss/main.scss */
nav .nav-link-wrapper {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 1000px;
  width: calc(100vw - 17px);
  height: 100%;
  display: flex;
}

/* line 242, ../scss/main.scss */
.nav-button {
  text-align: center;
  text-decoration: none;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

/* line 253, ../scss/main.scss */
.nav-button:hover a span {
  color: rgba(0, 0, 0, 0.55);
}

/* line 257, ../scss/main.scss */
.nav-button:after {
  transition: all .25s ease-in-out;
  display: block;
  position: relative;
  top: -3px;
  content: '';
  transform: scaleX(0.4);
  border-bottom: solid 3px #2da1d8;
}

/* line 267, ../scss/main.scss */
.nav-button:hover:after {
  transform: scaleX(1);
  border-bottom: solid 3px #76d3ab;
}

/* line 272, ../scss/main.scss */
.nav-button a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

/* line 281, ../scss/main.scss */
.nav-button a:after {
  display: block;
  position: absolute;
  content: '';
  height: 50px;
  border-right: solid 2px #ddd;
}

/* line 289, ../scss/main.scss */
.nav-button:first-of-type a:after {
  display: none;
}

/* line 293, ../scss/main.scss */
.nav-button a img {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

/* line 299, ../scss/main.scss */
.nav-button a span {
  transition: all .2s ease-in-out;
  font-size: .8em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.42);
}

/* This section is for mobile menu */
/* line 308, ../scss/main.scss */
#menu-wrapper {
  display: none;
  z-index: 100;
  width: 100vw;
  top: 0;
  background: #373C3F;
  height: 56px;
  overflow: hidden;
  position: fixed;
}

/* line 319, ../scss/main.scss */
label {
  cursor: pointer;
}

/* line 323, ../scss/main.scss */
label:focus {
  outline: none;
}

/* line 327, ../scss/main.scss */
.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #f1f1f1;
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}

/* line 339, ../scss/main.scss */
.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 56px;
  line-height: 0px;
  display: block;
  padding: 19px 18px;
  text-indent: -9999px;
  background: #373C3F;
}

/* line 351, ../scss/main.scss */
.menu span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

/* line 366, ../scss/main.scss */
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

/* line 370, ../scss/main.scss */
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* line 374, ../scss/main.scss */
.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}

/* line 378, ../scss/main.scss */
.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 56px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  transition: all .1s ease-in-out;
}

/* line 388, ../scss/main.scss */
.menu ul li a:hover, .menu ul li label:hover {
  color: #76d3ab;
  background-color: #eee;
  font-weight: bold;
}

/* line 394, ../scss/main.scss */
.menu ul {
  margin-top: 0;
  padding-left: 0;
}

/* line 399, ../scss/main.scss */
.menu ul li {
  list-style: none;
}

/* hide inputs */
/* line 404, ../scss/main.scss */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
/* line 409, ../scss/main.scss */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
/* line 414, ../scss/main.scss */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}

/* =========================================================================
 * Page Modifications
 * ========================================================================= */
/* line 423, ../scss/main.scss */
main {
  position: relative;
  z-index: 0;
  margin-top: -45px;
  padding-top: 65px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  overflow-x: hidden;
}

/* line 435, ../scss/main.scss */
.acm-btn {
  display: inline-block;
  cursor: pointer;
  background: #76d3ab;
  color: white;
  text-align: center;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 0 #65b593;
  transition: .2s ease-in-out;
}

/* line 450, ../scss/main.scss */
.acm-btn:hover {
  box-shadow: inset 0 -40px 0 0 #65b593;
}

/* =========================================================================
 * Footer Styles
 * ========================================================================= */
/* line 458, ../scss/main.scss */
footer {
  position: relative;
  z-index: 10;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373C3F;
}

/* line 468, ../scss/main.scss */
footer img {
  margin: 5px 0;
  height: 110px;
}

/* line 473, ../scss/main.scss */
.footer-nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 481, ../scss/main.scss */
.footer-nav a {
  margin: 0 2%;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  transition: color .25s;
}

/* line 488, ../scss/main.scss */
.footer-nav a:hover {
  color: white;
}

/* line 492, ../scss/main.scss */
footer h5 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: normal;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/* line 506, ../scss/main.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 515, ../scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 532, ../scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 546, ../scss/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Set content to middle of screen and desired width for content
 */
/* line 554, ../scss/main.scss */
.constraint-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/* line 560, ../scss/main.scss */
.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 578, ../scss/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 584, ../scss/main.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
/*@media (max-width: 320px) {*/
/*!*smartphones, iPhone, portrait 480x320 phones *!*/
/*}*/
@media (max-width: 414px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  /* line 598, ../scss/main.scss */
  footer {
    height: 110px;
    padding-top: 15px;
  }

  /* line 603, ../scss/main.scss */
  footer img {
    display: none;
  }
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  /* line 610, ../scss/main.scss */
  header {
    margin-top: 56px;
    height: 300px;
  }

  /* line 615, ../scss/main.scss */
  .header-welcome {
    font-size: 28px;
  }

  /* line 619, ../scss/main.scss */
  nav {
    display: none;
  }

  /* line 623, ../scss/main.scss */
  .pseudo-nav {
    display: none;
  }

  /* line 627, ../scss/main.scss */
  #menu-wrapper {
    display: block;
  }

  /* line 631, ../scss/main.scss */
  .top-bar {
    top: 0;
    display: block;
  }

  /* line 636, ../scss/main.scss */
  main {
    margin-top: 0;
    padding-top: 10px;
  }

  /* line 641, ../scss/main.scss */
  main::before {
    display: block !important;
    content: '';
    position: relative;
    top: -12px;
    border-top: solid 4px #2da1d8;
  }
}
/*@media (max-width:961px)  { !* tablet, landscape iPad, low-res laptops ands desktops *! }*/
@media (max-width: 1090px) {
  /* big landscape tablets, laptops, and desktops */
  /* line 654, ../scss/main.scss */
  nav .nav-link-wrapper {
    margin: 0;
  }
}
/*@media (min-width:1281px) { !* hi-res laptops and desktops *! }*/
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 668, ../scss/main.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 681, ../scss/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 686, ../scss/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 690, ../scss/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 698, ../scss/main.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 703, ../scss/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 713, ../scss/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 717, ../scss/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 722, ../scss/main.scss */
  img {
    max-width: 100% !important;
  }

  /* line 726, ../scss/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 733, ../scss/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
