/* TODO: Add documentation on semantic class naming http://getbem.com/ */

.perks-header {
  text-align: center;
  font-weight: normal;
  color: rgba(0,0,0,.87);
}
hr {
  width: 250px;
  height: 3px;
  background-color: #76d3ab;
  border: none;
  margin-bottom: 40px;
}

.perks {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.perks__perk {
  width: 33.333333333333%;
}
.perks__title {
  font-size: 1.1rem;
}
.perks__details-link {
  font-size: .9rem;
  color: #2da1d8;
}

.pay-area {
  width: 660px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
}
.pay-area__card {
  width: 280px;
  height: 350px;
  margin: 0 50px 0 0;
  background-color: #76d3ab;
  display: flex;
  flex-direction: column;
}
.pay-area__card:nth-of-type(2) {
  margin: 0 0 0 50px;
  background-color: #2da1d8;
}
.pay-area__title {
  color: white;
  text-align: center;
  font-weight: normal;
}
.pay-area__price {
  color: white;
  font-size: 6em;
  line-height: 90px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.pay-area__card:nth-of-type(1) .pay-area__price {
  letter-spacing: -6px;
}
.pay-area__price:before {
  content: '$';
  font-size: .6em;
  top: -25px;
  position: relative;
}
.pay-area__disclaimer {
  color: #e4f2ec;
  text-align: center;
  margin-bottom: 40px;
}
.pay-area__card:nth-of-type(2) .pay-area__disclaimer {
  color: #d3e7f0;
}
.pay-area__btn {
  width: 150px;
  margin:0 auto;
  padding: 12px;
  font-size: 1.2rem;
}
.pay-area__btn--semester {
  background: #67b895; /* Old browsers */
  background: -moz-linear-gradient(top, #67b895 0%, #67b895 90%, #589e80 90%, #589e80 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #67b895 0%, #67b895 90%, #589e80 90%, #589e80 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #67b895 0%, #67b895 90%, #589e80 90%, #589e80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67b895', endColorstr='#589e80', GradientType=0); /* IE6-9 */
}
.pay-area__btn--year {
  background: #288ebf; /* Old browsers */
  background: -moz-linear-gradient(top, #288ebf 0%, #288ebf 90%, #227aa4 90%, #227aa4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #288ebf 0%, #288ebf 90%, #227aa4 90%, #227aa4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #288ebf 0%, #288ebf 90%, #227aa4 90%, #227aa4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#288ebf', endColorstr='#227aa4', GradientType=0); /* IE6-9 */
}
.details__perk {
  height: 220px;
  padding:1px 0;
  background-color: white;
}
.details__perk:nth-of-type(even) {
  background-color: #f1f1f1;
}
.details__top-link {
  font-size: .9rem;
  color: #2da1d8;
}
.spice-link {
  color: #76d3ab;
  text-shadow: 0 0 0 rgba(0,0,0,1);
}
