/* line 1, ../scss/membership.scss */
/* TODO: Add documentation on semantic class naming http://getbem.com/ */

.perks-header {
  text-align: center;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

/* line 6, ../scss/membership.scss */
hr {
  width: 250px;
  height: 3px;
  background-color: #76d3ab;
  border: none;
  margin-bottom: 40px;
}

/* line 14, ../scss/membership.scss */
.perks {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

/* line 19, ../scss/membership.scss */
.perks__perk {
  width: 33.333333333333%;
}

/* line 22, ../scss/membership.scss */
.perks__title {
  font-size: 1.1rem;
}

/* line 25, ../scss/membership.scss */
.perks__details-link {
  font-size: .9rem;
  color: #2da1d8;
}

/* line 30, ../scss/membership.scss */
.pay-area {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* line 37, ../scss/membership.scss */
.pay-area__spacer {
  width: 10%;
  height: 40px;
}

/* line 41, ../scss/membership.scss */
.pay-area__card {
  width: 280px;
  height: 350px;
  background-color: #76d3ab;
  display: flex;
  flex-direction: column;
}

/* line 48, ../scss/membership.scss */
.pay-area__card--year {
  background-color: #2da1d8;
}

/* line 51, ../scss/membership.scss */
.pay-area__title {
  color: white;
  text-align: center;
  font-weight: normal;
}

/* line 56, ../scss/membership.scss */
.pay-area__price {
  color: white;
  font-size: 6em;
  line-height: 90px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 64, ../scss/membership.scss */
.pay-area__card:nth-of-type(1) .pay-area__price {
  letter-spacing: -6px;
}

/* line 67, ../scss/membership.scss */
.pay-area__price:before {
  content: '$';
  font-size: .6em;
  top: -25px;
  position: relative;
}

/* line 73, ../scss/membership.scss */
.pay-area__disclaimer {
  color: #e4f2ec;
  text-align: center;
  margin-bottom: 40px;
}

/* line 78, ../scss/membership.scss */
.pay-area__card:nth-of-type(2) .pay-area__disclaimer {
  color: #d3e7f0;
}

/* line 81, ../scss/membership.scss */
.pay-area__btn {
  width: 150px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  font-size: 1.2rem;
}

/* line 89, ../scss/membership.scss */
.pay-area__btn--semester {
  background: #67b895;
  /* Old browsers */
  box-shadow: inset 0 -4px 0 0 #589e80;
}

/* line 93, ../scss/membership.scss */
.pay-area__btn--semester:hover {
  box-shadow: inset 0 -50px 0 0 #589e80;
}

/* line 96, ../scss/membership.scss */
.pay-area__btn--year {
  background: #288ebf;
  /* Old browsers */
  box-shadow: inset 0 -4px 0 0 #227aa4;
}

/* line 100, ../scss/membership.scss */
.pay-area__btn--year:hover {
  box-shadow: inset 0 -50px 0 0 #227aa4;
}

/* line 103, ../scss/membership.scss */
.details__perk {
  height: 240px;
  margin: 0 10px;
  padding: 1px 0;
  background-color: white;
}

/* line 109, ../scss/membership.scss */
.details__top-link {
  font-size: .9rem;
  color: #2da1d8;
}

/* line 113, ../scss/membership.scss */
.spice-link {
  color: #76d3ab;
  font-weight: bold;
}

@media (max-width: 641px) {
  /*SMARTPHONE*/
  /* line 119, ../scss/membership.scss */
  .perks {
    flex-direction: column;
  }

  /* line 122, ../scss/membership.scss */
  .perks__perk {
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
  }

  /* line 127, ../scss/membership.scss */
  .perks__title {
    font-size: 1.8rem;
    margin: 0 0 15px 0;
  }

  /* line 131, ../scss/membership.scss */
  .perks__perk:nth-of-type(even) {
    text-align: right;
  }

  /* line 134, ../scss/membership.scss */
  .perks__details-link {
    font-size: 1.3rem;
  }

  /* line 138, ../scss/membership.scss */
  .pay-area {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1090px) {
  /* line 145, ../scss/membership.scss */
  .perks {
    margin-left: 10px;
    margin-right: 10px;
  }
}
