/* line 1, ../scss/officers.scss */
.nav-officers a span {
  color: #4d4d4d !important;
}

/* line 5, ../scss/officers.scss */
.nav-officers:hover a span {
  color: #4d4d4d !important;
}

/* line 9, ../scss/officers.scss */
.nav-officers:after {
  transform: scaleX(0.8);
}

/* line 15, ../scss/officers.scss */
.cards {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 auto;
  max-width: 800px;
}

/* line 23, ../scss/officers.scss */
.cards__card {
  list-style: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 200px;
  margin: 1rem auto 0 auto;
}

/* line 31, ../scss/officers.scss */
.cards__card:nth-of-type(even) {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* line 37, ../scss/officers.scss */
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  display: block;
  width: 180px;
  height: 180px;
  margin: 10px 0;
  border-radius: 50%;
}

/* line 51, ../scss/officers.scss */
.card__content {
  height: 100%;
  padding: 1rem;
}

/* line 56, ../scss/officers.scss */
.card__name {
  margin: 0;
}

/* line 59, ../scss/officers.scss */
.card__titles {
  margin: 0;
  font-size: .96rem;
  color: rgba(0, 0, 0, 0.8);
}

/* line 64, ../scss/officers.scss */
.card__text {
  margin: 10px 0;
  font-size: .86rem;
  color: rgba(0, 0, 0, 0.77);
}
