.nav-officers a span {
  color: #4d4d4d !important;
}

.nav-officers:hover a span {
  color: #4d4d4d !important;
}

.nav-officers:after {
  transform: scaleX(.8);
}

@media (max-width: 450px) {
  .btn {
    font-size: 0.7em;
  }
}

@media (max-width: 900px) {
  .cards__item {
    width: 100% !important;
  }
  
  .card {
    width: 100%;
  }
}

.link_zone {
  display: flex;
}

.btn {
  padding: 8px 0;
}

.btn--block {
  display: block;
  width: 31%;
  margin: 0 1.1666666px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 50%;
}

.card {
  /*background-color: #f1f1f1;*/
  display: flex;
  flex-direction: row;
  max-height: 270px;
  width: 100%;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  width: 60%;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  max-width: 155px;
  min-width: 155px;
  height: 100%;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.past_officers {
  height: 46px;
  background-color: rgba(233, 101, 76, .5);
  margin: 0 1rem;
  cursor: pointer;
  transition: background-color .1s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.past_officers:hover {
  background-color: rgba(233, 101, 76, .8);
}