{% extends "core/base.html" %}
{% load static %}

{% block head_title %}
    <title> Event Details </title>
{% endblock %}

{% block head_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/create-event.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block head_javascript %}
    <script src="https://unpkg.com/flatpickr"></script>
{% endblock %}

{% block body_header %}
    <div class="header">
        <div class="logo-name">
            <a href="/">
                Association for<br>Computing Machinery
            </a>
        </div>
        <div class="header-items logo">
            <a href="/">
                <img src="{% static 'home/img/core/acm.png' %}"></img>
            </a>
        </div>
        <div class="header-items">
            Create An Event
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="event-details">
        <form action="" method="post">
            {% csrf_token %}
            {% include "events/form-template.html" %}
            <input type="submit" value="Submit Event">
        </form>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        flatpickr("#calendar", {
            enableTime: true,
            altInput: true
        });
    </script>
{% endblock %}
