.nav-home a span {
  color: #4d4d4d !important;
}

.nav-home:hover a span {
  color: #4d4d4d !important;
}
.nav-home:after {
  transform: scaleX(.8);
}

.event-wrapper:nth-child(even) {
  background-color: #f1f1f1;
}

.event-card {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  box-sizing: content-box;
  max-width: 1000px;
  height: 440px;
  display: flex;
}

.event-wrapper:nth-child(even) .event-card {
  flex-direction: row-reverse;
}

.flier-space {
  height: 100%;
  display: flex;
}

.flier-space img {
  height: 100%;
}

.event-wrapper:nth-child(even) .event-card .flier-space img {
  margin-left: 10px;
}

.flier-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.flier-info h2 {
  color: rgba(0, 0, 0, .87);
  font-weight: normal;
  line-height: 25px;
}

.flier-info p {
  color: rgba(0, 0, 0, .70);
  font-size: 16px;
  margin-bottom: 35px;
}

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .event-card {
    flex-direction: column;
    height: 750px;
  }
  
  .event-card .flier-space img {
    margin: auto !important;
  }
  
  .flier-info h2 {
    margin-left: 0;
    text-align: center;
  }
  
  .flier-info p {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .flier-info a {
    margin-left: 15px;
  }
  
  .event-wrapper:nth-child(even) .event-card {
    flex-direction: column !important;
  }
  
  .event-wrapper:nth-child(even) .flier-space {
    margin-right: 0;
    margin-left: 0 !important;
  }
  
  .flier-space {
    height: 400px;
    margin-right: 0;
  }
}