/*
 * Document: static/home/main.css
 * Description: baseline css for project
 * Usage: Include into every html file
 * Author: Clay McGinnis - ACM SIG.com
 */

/* =========================================================================
 * General Styles
 * ========================================================================= */

@import "variables";

html {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Page-wide cosmetics */
  background-color: #fff;
  /* Default font properties */
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

body {
  /* Fill full height and width */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
}

*,
*::before,
*::after {
  /* Unified box-sizing */
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight
 * These selection rule sets have to be separate.
 */

::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::selection {
  background: #fff;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* =========================================================================
 * Browser Upgrade Prompt
 * ========================================================================= */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* =========================================================================
 * Header Styles
 * ========================================================================= */

body {

}

header {
  /* Allocate space */
  //@extend .constraint-wrapper;
  width: 100%;
  height: 420px;
  padding-bottom: 45px;
  background:
          url("../../home/img/core/sigcompcrop.png")
          top / cover
          repeat-y
          fixed
          #f1f1f1;
  /* Formatting */
  /* Cosmetics */
  /*background-color: #245623;*/
  .constraint-wrapper {
    height: 100%;
  }
}

.header__logo-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 20px 0 0 20px;
  /* Formatting */
  /* Cosmetics */
}

.header__logo {
  /* Allocate space */
  height: 70px;
  /* Formatting */
  display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  -ms-flex-align: center;
  align-items: center;
  /* Cosmetics */
}

.header__logo a {
  /* Allocate space */
  height: 100%;
  /* Formatting */
  /* Cosmetics */
}

.header__logo a img {
  /* Allocate space */
  height: 100%;
  /* Formatting */
  /* Cosmetics */
}

.header__logo h3 {
  /* Allocate space */
  margin: 0 0 0 10px;
  /* Formatting */
  /* Cosmetics */
  color: white;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .7px;
}

.header__welcome-wrapper {
  /* Allocate space */
  height: 50%;
  width: 100%;
  padding: 0 20px 20px 20px;
  /* Formatting */
  display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  float: right;
  /* Cosmetics */
}

.header__welcome {
  /* Allocate space */
  /* Formatting */
  margin: 0;
  text-align: right;
  /* Cosmetics */
  color: white;
  line-height: .8em;
  font-weight: normal;
  text-decoration: none;
}

/* =========================================================================
 * Navigation Styles
 * ========================================================================= */

nav {

  width: 86vw;
  height: 90px;

  position: relative;
  z-index: 10;
  margin: -45px auto 0 auto;

  background-color: #fff;
}

nav .nav-link-wrapper {
  margin: -45px auto 0 auto;
  position: relative;
  padding: 0;
  list-style: none;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

.nav-button {
  float: left;
  height: 100%;
  //margin-top: -45px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  
  display: inline-block;
  width: 16.6666666666666666666666666666666666666666666666666666%
}

.nav-button:hover a span {
  color: rgba(0, 0, 0, .55);
}

.nav-button:after {
  transition: all .25s ease-in-out;
  display: block;
  position: relative;
  content: '';
  transform: scaleX(.40);
  border-bottom: solid 3px #2da1d8;
}

.nav-button:hover:after {
  transform: scaleX(1);
  border-bottom: solid 3px #76d3ab;
}

.nav-button a {
  text-decoration: none;
  height: 87px;
  display: block;
  width: 100%;
}

.nav-button a * {
  display: block;
}

.nav-button a img {
  height: 48px;
  width: 48px;
  box-sizing: content-box;
  margin: 0 auto 0 auto;
  padding-top: 10px;
}

.nav-button a span {
  transition: all .2s ease-in-out;
  font-size: .8em;
  font-weight: bold;
  color: rgba(0, 0, 0, .42);
  padding-bottom: 12px;
}

/* This section is for mobile menu */

#menu-wrapper {
  display: none;
  z-index: 100;
  width: 100vw;
  top: 0;
  background: $light-footer;
  height: 56px;
  overflow: hidden;
  position: fixed;
}

label {
  cursor: pointer;
}

label:focus {
  outline: none;
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #f1f1f1;
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}

.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 56px;
  line-height: 0px;
  display: block;
  padding: 19px 18px;
  text-indent: -9999px;
  background: $light-footer;
}

.menu span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}

.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 56px;
  text-decoration: none;
  color: $top-text-color;
  transition: all .1s ease-in-out;
}

.menu ul li a:hover, .menu ul li label:hover {
  color: #76d3ab;
  background-color: #eee;
  font-weight:bold;
}

.menu ul {
  margin-top: 0;
  padding-left: 0;
}

.menu ul li {
  list-style: none;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 8px rgba(0, 0, 0, .45);
}

/* =========================================================================
 * Page Modifications
 * ========================================================================= */

main {
  padding: 20px 0 0 0;
  background-color: white;
}

.acm-btn {
  display: inline-block;
  cursor: pointer;
  background: #76d3ab;
  white-space: nowrap;
 color: white;
  text-align: center;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  text-decoration: none;
  
  box-shadow: inset 0 -4px 0 0 #65b593;
  
  transition: .2s ease-in-out;
}
.acm-btn:hover {
  box-shadow: inset 0 -40px 0 0 #65b593;
}

/* =========================================================================
 * Footer Styles
 * ========================================================================= */

footer {
  position: relative;
  z-index: 10;
  height: 220px;
  -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #373C3F;
}

footer img {
  margin: 5px 0;
  max-height: 100px;
  height: auto;
  width: auto;
}

.footer-nav {
  height: 60px;
  width: 100%;
  white-space: nowrap;
  display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.footer-nav a {
  margin: 0 2%;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255,255,255,.8);
  transition: color .25s;
}
.footer-nav a:hover {
  color: rgba(255,255,255,1);
}

footer h5 {
  color: rgba(255,255,255,.6);
  font-size: 14px;
  font-weight: normal;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Set content to middle of screen and desired width for content
 */

.constraint-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

/*@media (max-width: 320px) {*/
/*!*smartphones, iPhone, portrait 480x320 phones *!*/
/*}*/

@media (max-width: 414px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  footer {
    height: 110px;
    padding-top: 15px;
  }
  
  footer img {
    display: none;
  }
}

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  header {
    margin-top: 56px;
    padding-bottom: 0;
    height: 250px;
  }
  
  .header-welcome {
    font-size: 28px;
  }
  
  nav {
    display: none;
  }
  
  .pseudo-nav {
    display: none;
  }
  
  #menu-wrapper {
    display: block;
  }
  
  .top-bar {
    top: 0;
    display: block;
  }
  
  main {
    margin-top: 0;
    padding-top: 10px;
  }
  
  main::before {
    display: block !important;
    content: '';
    position: relative;
    top: -12px;
    border-top: solid 4px #2da1d8;
  }
}

/*@media (max-width:961px)  { !* tablet, landscape iPad, low-res laptops ands desktops *! }*/
@media (max-width: 1090px) {
  /* big landscape tablets, laptops, and desktops */
  
  nav .nav-link-wrapper {
    margin: 0;
  }
}

/*@media (min-width:1281px) { !* hi-res laptops and desktops *! }*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  
  a,
  a:visited {
    text-decoration: underline;
  }
  
  a[href]:after {
    content: " (" attr(href) ")";
  }
  
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  
  tr,
  img {
    page-break-inside: avoid;
  }
  
  img {
    max-width: 100% !important;
  }
  
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  
  h2,
  h3 {
    page-break-after: avoid;
  }
}
