.nav-sigs span {
  color: #4d4d4d !important;
}

.nav-sigs:hover a span {
  color: #4d4d4d !important;
}

.nav-sigs:after {
  transform: scaleX(.8);
}
.sigs {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  justify-content:space-evenly;
  margin: 0 2%;
  padding: 0;
}

.sigs__sig {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
}

.sigs__sig:hover:after {
  background: rgba(55,60,63,.6);
}

.sigs__sig:hover .sigs__link {
  opacity: 1;
}
.sigs__sig:hover .sigs__link-warn {
  opacity: 1;
}

.sigs__link {
  text-decoration:none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  opacity: 1;
  transition: ease-in-out .2s all;
}
 
.sigs__desc {
  font-size: 1.5em;
  color: #fff;
}
.sigs__link-warn {
  color: #76d3ab;
  font-size: 1.8em;
  padding-top: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 2px black;
  opacity: 0;
  transition: ease-in-out .2s all;
}

.sigs__sig::after {
  content: "";
  display: block;
  padding-top: 100%;
  transition: ease-in-out .2s all;
  background: rgba(55,60,63,.6);
}

@media (min-width: 450px) {
  .sigs__sig {
    height:424px;
    width:424px;
  }
  .sigs__link {
    opacity: 0;
  }
  .sigs__sig:after {
    background: none;
  }
}
