.nav-sigs span {
  color: #4d4d4d !important;
}

.nav-sigs:hover a span {
  color: #4d4d4d !important;
}

.nav-sigs:after {
  transform: scaleX(.8);
}
.sigs {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  padding: 0 0 20px 0;
  justify-content: space-between;
  margin: 0 60px;
}

.sigs__sig {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #efefef;
  flex:1 1;
  position: relative;
}

.sigs__sig:hover:after {
  background: rgba(55,60,63,.6);
}

.sigs__sig:hover .sigs__link {
  opacity: 1;
}

.sigs__link {
  text-decoration:none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  opacity: 1;
  transition: ease-in-out .2s all;
}
 
.sigs__desc {
  font-size: 1.3em;
  color: #fff;
}
.sigs__link-warn {
  color: #76d3ab;
  font-size: 1.6em;
  padding-top: 20px;
  font-weight: bold;
}

.sigs__sig::after {
  content: "";
  display: block;
  padding-top: 100%;
  transition: ease-in-out .2s all;
  background: rgba(55,60,63,.6);
}


@media (min-width: 641px) {
  .sigs__sig {
    flex: 0 1 calc(50% - 1em);
  }
  .sigs__link {
    opacity: 0;
  }
  .sigs__sig:after {
    background: none;
  }
}
