.nav-sponsors a span {
  color: #4d4d4d !important;
}

.nav-sponsors:hover a span {
  color: #4d4d4d !important;
}

.nav-sponsors:after {
  transform: scaleX(.8);
}

main .content-wrapper:nth-of-type(2) {
  padding-top: 20px;
}

main .content-wrapper h1 {
  margin-top: 0;
}

main .content-wrapper h2 {
  margin: 0;
}

main .content-wrapper h2 a {
  display: inline;
  margin: 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 20px 0;
  justify-content: space-between;
  margin: 0 60px;
}

.cards__card {
  margin-bottom: 1rem;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
  overflow: hidden;
  position: relative;
}

.contain {
  background-size: contain;
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.card__title {
  font-size: 1.2rem;
  margin: 10px 0 0 0;
}

.card__link {
  text-decoration: none;
  color: #76d3ab;
}
.card__link:hover {
  text-decoration: underline;
}

.card__text {
  color: rgba(0, 0, 0, 0.77);
  flex: 1 1 auto;
  font-size: 0.865rem;
  line-height: 1.5;
  margin: 20px 0 0 0;
}

@media (min-width: 641px) {
  .cards__card {
    flex: 0 1 calc(50% - 1em);
  }
  .cards {
    margin: 0 40px;
  }
}
@media (min-width: 1040px) {
  .cards__card {
    flex: 0 1 calc(33.333333333% - 1em);
  }
  .cards {
    margin: 0;
  }
}